<!-- <router-outlet /> -->
<div class="container">
  <h1 class="text-center">Employee Search</h1>
  <p class="text-center">Enter the employee ID and click "Search" button to get their details or leave blank to bring everyone</p>
</div>

<employee-search></employee-search>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
      <span>Thales - .Net Software Developer Test - Daniel Gómez</span>
      <br>
      <a href="https://www.linkedin.com/in/daniel-gomez-lnkdn">LinkedIn</a>
  </div>
</footer>
